* {
    box-sizing: border-box;
    color: aliceblue;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    
}

body {
    background-color: rgb(74, 74, 74);
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid rgb(57, 57, 57);
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    padding: 5px 12px;
}

.logo {
    font-size: 30px;
}

.signin{
    background-color: aliceblue;
    color: rgb(74, 74, 74);
    border: 3px solid rgb(74, 74, 74);
}

.signin:hover {
    background-color: rgb(74, 74, 74);
    color: aliceblue;
    border: 3px solid aliceblue;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 60px;
    margin-left: 40px;
}

img {
    height: 300px;
}

.buynow {
    font-size: 25px;
    color: rgb(74, 74, 74);
    border: none;
    border-radius: 25px;
    padding: 8px 18px;
}

.buynow:hover{
    color: aliceblue;
    background-color: rgb(57, 57, 57);

}

.left {
    flex: 1;
}

.mid {
    flex: 2;
}

.right {
    flex: 1;
}